{:paths ["src" "resources"]
 :deps {org.clojure/core.async {:mvn/version "0.4.474"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        http-kit {:mvn/version "2.2.0"}
        clj-http {:mvn/version "3.10.1"}
        less-awful-ssl {:mvn/version "1.0.2"}}}
